<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


        <bean id="userRepository" class="donation.persistence.repository.UserRepository"/>
        <bean id="donorProfileRepository" class="donation.persistence.repository.DonorProfileRepository"/>
        <bean id ="medicalQuestionnaireRepository" class="donation.persistence.repository.MedicalQuestionnaireRepository"/>
        <bean id ="donationRepository" class="donation.persistence.repository.DonationRepository"/>
        <bean id="bloodComponentQuantityRepository" class ="donation.persistence.repository.BloodComponentQuantityRepository"/>
        <bean id="bloodTransfusionCenterProfileRepository" class ="donation.persistence.repository.BloodTransfusionCenterProfileRepository"/>
        <bean id="bloodRequestRepository" class ="donation.persistence.repository.BloodRequestRepository"/>
        <bean id="doctorProfileRepository" class="donation.persistence.repository.DoctorProfileRepository"/>

        <bean id="mainService" class="donation.server.MainServiceImpl">
            <constructor-arg ref="userRepository"/>
            <constructor-arg ref="donorProfileRepository"/>
            <constructor-arg ref="medicalQuestionnaireRepository"/>
            <constructor-arg ref="donationRepository"/>
            <constructor-arg ref="bloodComponentQuantityRepository"/>
            <constructor-arg ref="bloodTransfusionCenterProfileRepository"/>
            <constructor-arg ref="bloodRequestRepository"/>
            <constructor-arg ref="doctorProfileRepository"/>
        </bean>

        <bean class="org.springframework.remoting.rmi.RmiServiceExporter">
            <property name="serviceName" value="donationServer"/>
            <property name="service" ref="mainService"/>
            <property name="serviceInterface" value="donation.services.IMainService"/>
            <property name="servicePort" value="1099"/>
        </bean>

</beans>