.jfx-button.btn {
    -fx-font-size: 23px;
    -fx-background-color: #e42e33;
    -fx-background-radius: 5px;
    -fx-font-family: 'Roboto Light';
    -fx-padding: 10px;
    -fx-text-fill: white;
}

.jfx-button.btn:hover {
    -fx-background-color: #bf2d30;
}

.root {
    background-dark: #333333;
    background-dark-hover: #2f2f2f;
    background-dark-pressed: #282828;
    background-focused: #cb483b;

    -fx-accent: #cb483b;
    -fx-focus-color: #cb483b;
    -fx-faint-focus-color: transparent;
}

.label {
    -fx-font-family: 'Roboto Light';
}

.label.h1 {
    -fx-font-size: 35px;
    -fx-padding: 30px 80px 15px;
    -fx-border-width: 1px;
    -fx-border-insets: -1px -1px 0 -1px;
    -fx-border-color: rgba(0, 0, 0, 0.2);
}

.text-input, .text-input:focused {
    -fx-prompt-text-fill: #777777;
}

.jfx-rippler {
    -jfx-rippler-fill: -fx-accent;
}

#mainPane {
    -fx-background-color: background-dark;
}

.jfx-text-field, .jfx-password-field, .jfx-text-area {
    -jfx-focus-color: -fx-accent;
    -jfx-label-float: true;
}

.jfx-text-field .text, .jfx-date-picker, .jfx-text-area, .jfx-text-field, .jfx-password-field {
    -fx-font-size: 16px;
}

.jfx-text-field .glyph-icon {
    -glyph-size: 18px;
}

.jfx-check-box {
    -jfx-checked-color: -fx-accent;
}

.jfx-date-picker {
    -jfx-default-color: -fx-accent;
}

.jfx-button.btn-back {
    -fx-font-size: 15px;
    -fx-background-color: -fx-accent;
    -fx-background-radius: 5px;
    -fx-font-family: 'Roboto Light';
    -fx-padding: 3px;
    -fx-text-fill: white;
}

#LoginWindow {
    -fx-background-image: url("../images/login_background.jpg");
    -fx-background-size: cover;
}

#RegistrationWindow {
    -fx-background-image: url("../images/signup_background.jpg");
    -fx-background-size: cover;
}

#CloseButton {
    -fx-background-color: transparent;
    -fx-padding: 5px;
}

#CloseButton:hover .glyph-icon {
    -fx-fill: #c7c7c7;
}

#CloseButton:pressed .glyph-icon {
    -fx-fill: #a5a5a5;
}
